In [4]:
import pandas as pd
import numpy as np
import os

In [25]:
pd.__version__

'2.0.0'

MovieDialogCorpus

In [6]:
base_dir = "../data/raw/MovieDialogCorpus"

In [30]:
movie_characters_metadata = pd.read_csv(os.path.join(base_dir,"movie_characters_metadata.tsv"),
                                        sep='\t',
                                        names = ['charID','charName','movieID','movieName','gender','score'],
                                        index_col=['charID'])
movie_lines = pd.read_csv(os.path.join(base_dir,"movie_lines.tsv"),
                            encoding='utf-8-sig', 
                            sep='\t', 
                            on_bad_lines='skip', 
                            header = None,
                            names = ['lineID', 'charID', 'movieID', 'charName', 'text'],
                            index_col=['lineID'])

In [10]:
movie_characters

         u0         BIANCA    m0  10 things i hate about you  f  4
0        u1          BRUCE    m0  10 things i hate about you  ?  ?
1        u2        CAMERON    m0  10 things i hate about you  m  3
2        u3       CHASTITY    m0  10 things i hate about you  ?  ?
3        u4           JOEY    m0  10 things i hate about you  m  6
4        u5            KAT    m0  10 things i hate about you  f  2
...     ...            ...   ...                         ... .. ..
9029  u9030       DURNFORD  m616                   zulu dawn  ?  ?
9030  u9031        MELVILL  m616                   zulu dawn  ?  ?
9031  u9032  NORRIS-NEWMAN  m616                   zulu dawn  ?  ?
9032  u9033   STUART SMITH  m616                   zulu dawn  ?  ?
9033  u9034        VEREKER  m616                   zulu dawn  ?  ?

[9034 rows x 6 columns]